.filter {
  display: flex;
  flex-wrap: wrap;
}
.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.filter-img {
  position: relative;
  overflow: hidden;
}
.filter-content {
  padding: 20px 24px;
}
.filter-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.filter-btn-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $text-color;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: $secondary-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  .filter-link:hover &,
  .filter-link:focus & {
    transform: translateY(0%);
  }
}
.filter-link {
  display: block;
  text-decoration: none;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
