.portfolio {
  display: flex;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 94px;
}
.nav-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.nav-gallery-items {
  display: flex;
  padding-bottom: 16px;
}
.nav-gallery-link {
  display: flex;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.btn-gallery {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  min-height: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    background-color: $bg-color;
    color: $secondary-color;
  }
}
